rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /lists/{listId} {
      allow read: if true;
      allow create: if true;
      allow update: if true;
      allow delete: if true;

      match /items/{itemId} {
        allow read: if true;
        allow write: if true;
      }
      match /votes/{userId} {
        allow read: if true;
        allow write: if true;
      }
      match /comments/{commentId} {
        allow read: if true;
        allow write: if true;
      }
    }
  }
}
